/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #ff3860;
}

#main {
	background-color: #ffeb38;
	position: relative;
	margin: auto;
	width: 95%;
	height: auto;
	padding-bottom: 20px;
	top: 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px

}

#title h1 {
	color: #2a2a22;
	font-size: 80px;
	font-weight: 900;
	text-align: center;
	text-shadow: 2px 2px #ff0000;
	line-height: 120px;
	padding-top: 30px;
}

#img-div {


}

#img-div img {
	display: block;
	max-width: 50%;
	height: auto;
	margin: auto;
	border: 3px solid #634806;
}

#img-caption {
	padding-top: 10px;
}

#img-caption p {
	color: #4b6a88;
	font-style: italic;
	font-weight: 600;
	text-align: center;
}

#tribute-info {
	margin: auto;
	width: 90%;
	color: #2a2a22;
	font-size: 2em;
	font-weight: 680;
	font-family: monospace;
	line-height: 33px;
}

#tribute-info p {
	padding-top: 20px;
}